* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
}

#formContainer {
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-areas: 
        ". header ."
        ". content .";
}

header {
    grid-area: header;
    text-align: center;
}

header img {
    width: 250px;
    margin: 24px;
}

#formContent {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 16px #cccccc;
    grid-area: content;
    text-align: center;
}

#formHeader {
    border-bottom: 2px solid #dddddd;
}

/*
    this code styles the 
    boxes of inputs
*/
input[type=text],
input[type=date],
input[type=tel],
input[type=password],
select,
#genderInputs > div,
input[type=submit] {
    border: 2px solid #dddddd;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
}

#textInputsContainter {
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
}

#firstNameInput,
#lastNameInput {
    flex: 1;
}

#phoneOrEmailInput,
#password {
    width: 100%;
}

#titleBdayPublicInputs {
    display: flex;
    margin: 12px;;
}

#titleBdayPublicInputs > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    margin-right: 8px;
}

#titleBdayPublicInputs select,
#titleBdayPublicInputs input[type=date] {
    width: 100%;
}

#titleBdayPublicInputs > div label,
#genderRadioButtons > label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

#titleBdayPublicInputs input[type=checkbox] {
    margin: 16px 0px 16px 8px;
}

#genderRadioButtons {
    margin: 12px;
    text-align: left;
}

#genderInputs {
    display: flex;
}

#genderInputs > div {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#formFields p {
    font-size: 12px;
    margin: 16px;
    text-align: left;
    color: #7b7b7b;
}

input[type=submit] {
    background-color: #10a515;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
    min-width: 175px;
}

a {
    color: #3673C7;
    text-decoration: none;
}

#login {
    display: block;
    margin: 24px;
}