body {
    background-color: whitesmoke;
}

nav {
    background-color: darkblue
}

nav a {
    text-decoration: none;
    color: black;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
}

nav > ul > li {
    padding: 12px;
    background-color: darkblue;
    transition: background-color 0.5s;
}

nav > ul > li:hover {
    background-color: grey;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    top: 75px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}

.dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%
}

.dropdown ul li {
    background-color: orangered;
    padding: 12px;
    width: 150%;
}

.dropdown ul li a {
    background-color: orangered;
    display: inline-block;
    padding: 12px;
    width: 95px;
}

.dropdown ul li a:hover {
    color: darkolivegreen;
    text-decoration: underline;
}

#logo {
    display: flex;
    margin-left: auto;
}

#logo img {
    height: 50px;
}

main img {
    height: 500px;
}

.textAndImage {
    align-items: center;
    display: flex;
    margin: 24px;;
}

.textBlock {
    flex: 2;
    margin: 24px;
}

.imageBlock {
    flex: 1;
}

.imageBlock img {
    border-radius: 2px;
    width: 100%;
}