body {
    background-color: whitesmoke;
}

nav {
    background-color: darkblue
}

nav a {
    text-decoration: none;
    color: black;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}

nav > ul > li {
    padding: 12px;
    background-color: darkblue;
}

nav > ul > li:hover {
    background-color: darkgrey;
}

.dropDown {
    position: relative;
}

.dropDown ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    top: 58px;
    left: 0px;
    top: 100%;
}

.dropDown:hover ul {
    display: flex;
}

.dropDown ul li {
    background-color: orangered;
    padding: 12px;
    width: 150%;
}

#logo {
    display: flex;
    margin-left: 0px;
}

#logo img {
    height: 50px;
}

main img {
    height: 500px;
}