@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

#hero {
    height: 100vh;
    background-image: url("assets/images/april2022-86\ copy\ 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-family: 'Pirata One', cursive;
    font-size: 48px;
    position: absolute;
  top: 400px;
  left: 300px;
    color: #91001B;
}

.container {
    margin: 50px
}

.accordion-button {
    font-family: 'Dosis', sans-serif;
}

h5 {
    font-family: 'UnifrakturMaguntia', cursive;
}

@media screen and (max-width: 600px) {
    .containerAccordion {
        grid-template-columns: 1fr;
        grid-template-areas: 
            ". header ."
            ". container .";
    }

    body {
        background-color: crimson;
    }

    #hero h1 {    position: static;}
}