body {
    margin: 0px;
}

#hero1 {
    background-image: url("../assets/images/Untitled-1\ copy.jpg");
    background-size: cover;
    background-position: 75% 55%;
    background-repeat: no-repeat;
    height: 500px;
    color: #8CA0BC;
    position: relative;
    transition: filter 0.5s;
}

#hero1:hover {
    filter: blur(2px);
}


#hero1 h1 {
    position: absolute;
    top: 335px;
    left: 245px;
    font-size: 60px;
    font-family: fantasy;
}

p {
    font-size: 32px;
    margin: 48px;
}

#hero2 {
    height: 100vh;
    background-image: url("../assets/images/april2022-86.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero2 h2,
#hero3 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: #611A11;
}

#hero2 h3,
#hero3 h3 {
    font-family: cursive;
    font-size: 48px;
    color: #7A907E;
}

#hero3 {
    background-image: url("../assets/images/april2022-112.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

#hero3 h2 {
    padding-top: 60px;
}

#hero3 h3 {
    padding-bottom: 60px;
}