table {
    border-collapse: collapse;
}

th {
    padding-bottom: 12px;
    padding-right: 24px;
}

td {
    padding: 4px 0px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #E0FFE0;
}