body {
    background-color: #45593C;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
}

li {
    margin: 12px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#home {
    margin-right: auto;
}

a:hover {
    text-decoration: none;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    color: salmon;
}

p {
    color: #F24B0F;
    padding: 50px;
    text-align: center;
    margin: 24px;
}

.hr {
    border-bottom: 2px solid #732634;
    padding: 12px;
}

@media screen and (max-width: 768px) {
    body {
        background-color: skyblue;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    #home {
        margin-right: inherit;
    }

    a:hover {
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 150%;
        color: whitesmoke;
        }

    p {
        color: #EAF205;
        padding: 50px;
        margin: 24px;
    }

    .hr {
        border-bottom: 2px solid darkolivegreen;
    }
}