@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #0D0D0D;
}

#gridContainer h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
#gridContainer {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header ."
        ". container .";
    padding: 100px;
    background-color: #888C81;
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    background-color: #D9C9BA;
    border: 2px solid #F2EFEB;
    grid-area: container;
    padding: 32px;
    border-radius: 4px;
}

form label {
    display: block;
    font-weight: bold;
    margin: 8px 0px;
}

form input[type=text],
form input[type=email],
form input[type=password],
form textarea,
form select {
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #3D403A;
    border: 0px;
    border-radius: 3px;
}

form input[type=submit] {
    background-color: #3D403A;
    border: 0px;
    border-radius: 4px;
    color: #0D0D0D;
    padding: 16px 24px;
    min-width: 250px;
    font-weight: bold;
    font-size: 16px;
}

::placeholder {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form input:invalid,
input[type=email] {
    border-color: 3px solid red;
}

input:valid,
input[type=email],
#emailInput:valid {
    border-color: #10a515;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #fefefe;
    }

    #gridContainer {
        grid-template-columns: 1fr;
        grid-template-areas: 
            ". header ."
            ". container .";
        background-color: #888C81;
    }
}