* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header ."
        ". container .";
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    background-color: whitesmoke;
    border: 2px solid #dedede;
    grid-area: container;
    padding: 32px;
}

form label {
    display: block;
    font-weight: bold;
    margin: 8px 0px;
}

form input[type=text],
form textarea,
form select {
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
}

form input[type=submit] {
    background-color: #2c8cff;
    border: 0px;
    border-radius: 4px;
    color: white;
    padding: 16px 24px;
}

::placeholder {
    color: #F2620F;
    font-family: Georgia, 'Times New Roman', Times, serif;
}