body {
    background-color: #dedede;
    font-family: sans-serif;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header ."
        ". container .";
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    background-color: whitesmoke;
    border: 2px solid gray;
    grid-area: container;
}